body{
    background-image: url('images/ftp background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.container{
    border: 5px solid black;
}
.child{
    border: 5px solid black;
}

.header{
    border: 5px solid black;
    height: 100%;
    width: auto;
    text-align: center;
    font-family: "Franklin Gothic", "Arial Bold";
    font-size: 150%;
}
#header1{
    background-color: black;
    
}
#headercontainer{
    background-image: url('images/pattern background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5%;
    padding-bottom: 1%;
    width: auto;
    height: 10%;    
}
#container1{
    height: auto;
    width: auto;
    position: relative;
    top: 1%;
    padding: 1%;
    border: 0px;      

}
#container2{
    width: auto;
    height: 50%;
    padding: 1%;
    padding-bottom: 1.5%;
    background-image: url('images/pattern background.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    
}
#textbox{
    width: 70.5%;
    height: 100%;
    background-color: black;
    font-family: "Franklin Gothic", "Arial Bold";
    font-size: 150%;

}
#img{
    width: 26.5%;
    height: 100%;
    float: right;
}
#audiocontainer1{
    width: auto;
    height: auto;
    background-color: black;
} 
.audioimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
.audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}
#audioparent{
    display: flex;
    justify-content: center;
    align-items: center;
}
#audiocontainerparent{
    width: 50%;
    height: 210%;   
    background-image: url('images/pattern background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5%; 
}
#headingwords1{
    position: relative;
    top: -15px;
    
}
.audiotext{
    text-align: center;
    font-size: 125%;
}
